$primary: #0eee;
$secondary: #299;
$success: #2f0;
$danger: #b20;
$warning: #fc4;

// FONT
$font-family-base: system-ui, sans-serif;

.mono {
  font-family: "Cascadia Code", monospace;
}

@font-face {
  font-family: "Cascadia Code";
  src: local("Cascadia Code"),
    url("../fonts/CascadiaCode.woff2") format("woff2"),
    url("../fonts/CascadiaCode.ttf") format("truetype");
}

// THEME CHOOSER
.theme-chooser {
  gap: 0.5rem;
}

.theme-icon {
  opacity: 0;
  transition: translate 500ms, rotate 500ms;
}

.theme-icon.sun {
  translate: calc(100% + 0.5rem);
  rotate: 360deg;
}

.theme-icon.moon {
  translate: calc(-100% - 0.5rem);
  rotate: -360deg;
}

.theme-icon.active {
  opacity: 1;
  translate: 0px;
  rotate: 0deg;
}

@import "bootstrap";
