@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// LIGHT MODE
$body-bg: $white;

// DARK MODE
@include color-mode(dark) {
  $body-bg: $black;
  $theme-colors: (
    "primary": green
  );
}

// FONT
$font-family-base: "Cascadia Code";

@font-face {
  font-family: "Cascadia Code";
  src: local("Cascadia Code"),
    url("../fonts/CascadiaCode.woff2") format("woff2"),
    url("../fonts/CascadiaCode.ttf") format("truetype");
}

@import "bootstrap";
